* {

box-sizing: border-box;
background-color: rgba(41, 40, 50, 0.1);
}
header {
  background-image: url("CBTO.jpg");
  background-size:contain;
  height: 150px;
  width: 100%;
}
main{
margin: 0 auto;
border: black dotted 2px;
height: 52%;
max-width:940px;
min-width:900px;
min-height:774px;
display:inline-block;
background-image: url("cado.jpg");
background-size: cover;
}
.grid{
border: brown solid 2px;
height:100px;
width:100px;
background-color: rgba(16,150,0,.3);
display:inline-block;
margin:25px 25px;
border-radius: 100px;
}

footer {
  background-image: url("CBTO.jpg");
  height:50px;
  width:100%;
}

.mole {
background-image: url("Mole.gif");
cursor:pointer;
background-size: contain;
}

.tree {
  background-image: url("200.gif");
  cursor: pointer;
  background-size: contain;
  -webkit-transform: rotate(360deg);
   -webkit-transition-duration: 1s;
   -webkit-transition-delay: now;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
}
.bad {
  background-image: url("angry.png");
  cursor: pointer;
  background-size: contain;
}

header .play {
height: 100px;
width:170px;
background-color: white;
text-align: center;
border-radius: 10px;
font-size: 40px;
padding: 10px;
padding-top:10px;
cursor:pointer;
margin-left: 40px;
display: inline-block;
}

header h1 {
display:inline-block;
text-align: center;
margin: 0 auto;
position:absolute;
left: 37%;
color:rgba(85, 215, 142, 0.9);
top:2%;
font-size: 60px;
font-family: 'Pacifico', cursive;
margin-right:10px;
background-color:rgba(255,255,255,0)
}
.play {
 position:absolute;
 margin-top: 20px;
 font-family: 'Pacifico', cursive;
}
.left {
  background-color: rgba(173,255,47,0.5);
  width: 300px;
  height: 500px;
  display:inline-block;
  float:left;
  margin-right: 100px;
}

.left h2 {
  text-align: center;
  font-size: 70px;
  font-family: 'Roboto Mono', monospace;
background-color:rgba(255,255,255,0);
margin-top: 20px;
}
.score {
  height:170px;
  color:#5BA512;
  font-size: 200px;
  margin-top: 40px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 100px;
  background-color:rgba(255,255,255,0)
}
header .reset {
height: 100px;
width:170px;
background-color: white;
text-align: center;
border-radius: 10px;
font-size: 30px;
padding: 10px;
padding-top:10px;
cursor:pointer;
margin-left: 300px;
display:inline-block;
margin-top: 20px;
font-family: 'Pacifico', cursive;
line-height: 35px;
color:black;
}

.time {
background: linear-gradient(to left, #70e1f5 , #ffd194);
height: 200px;
width: 300px;
margin: 0 auto;
margin-bottom: 0;
}

.time h2 {
margin-bottom:0;

}

.displayTime {
font-size: 100px;
text-align:center;
margin: 0 auto;
margin-top: 0;
background-color:rgba(255,255,255,0);
}

header .Instructions {
  height: 100px;
  width:170px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
  padding: 10px;
  padding-top:20px;
  cursor:pointer;
  float:right;
  margin-right: 200px;
  display: inline-block;
  font-family: 'Pacifico', cursive;
  margin-top:17px;
  line-height: 30px;
}

.how{
width: 300px;
height: 250px;
font-family: 'Acme', sans-serif;
color:rgba(124, 227, 233, 1);
text-transform: uppercase;
display:none;
font-size: 25px;
margin: 0 auto;
cursor:pointer;
z-index: 9999;
background-image: url('100.gif');
background-size: contain;
margin-right:250px;

}

.footer {
font-size: 30px;
float:right;
margin-top:10px;
margin-bottom: 5px;
color:rgba(255,255,255,1);
 font-family: 'Pacifico', cursive;
 margin-right:15px;
 background-color:rgba(255,255,255,0)
}

#selector {
     position: relative;
     width: 50px;
     font-size: 20px;
     padding: 0;
     margin: 0 auto;
     background-color: rgba(255,255,255,0);
     outline: none;
     cursor: pointer;
     font-weight: bold;
     margin-left: 120px;
     background-color: rgba(0,100,0,.3);
     margin-top: 20px;
}
form {
  background-color: rgba(255,255,255,0);
}
