* {

box-sizing: border-box;
}
body  {
  background: linear-gradient(to left, #1D976C , #93F9B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
header {
  background-image: url("CBTO.jpg");
  background-size:contain;
  height: 150px;
  width: 100%;
}
main{
margin: 0 auto;
border: solid rgba(0, 0, 0, 0.7) 4px;
margin-top: 1px;
margin-bottom: 1px;
height: 52%;
max-width:940px;
min-width:900px;
min-height:774px;
display:inline-block;
background-image: url("cado.jpg");
background-size: cover;
}
.grid{
border: brown solid 2px;
height:100px;
width:100px;
background-color: rgba(16,150,0,.3);
display:inline-block;
margin:25px 25px;
border-radius: 100px;
}

footer {
  background-image: url("CBTO.jpg");
  height:50px;
  width:100%;

}

.mole {
background-image: url("Mole.gif");
cursor:pointer;
background-size: contain;
}

.tree {
  background-image: url("200.gif");
  cursor: pointer;
  background-size: contain;
  -webkit-transform: rotate(360deg);
   -webkit-transition-duration: 1s;
   -webkit-transition-delay: now;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
}
.bad {
  background-image: url("angry.png");
  cursor: pointer;
  background-size: contain;
}

header .play {
height: 100px;
width:170px;
background-color: white;
text-align: center;
border-radius: 10px;
font-size: 40px;
padding: 10px;
padding-top:10px;
cursor:pointer;
margin-left: 40px;
display: inline-block;
border: solid rgba(0, 0, 0, 0.7) 2px;
}

header h1 {
display:inline-block;
text-align: center;
margin: 0 auto;
position:absolute;
left: 37%;
color:rgba(85, 215, 142, 0.9);
top:2%;
font-size: 60px;
font-family: 'Pacifico', cursive;
margin-right:10px;
background-color:rgba(255,255,255,0);
text-decoration: underline;
}
.play {
 position:absolute;
 margin-top: 20px;
 font-family: 'Pacifico', cursive;
 border: solid rgba(0, 0, 0, 0.7) 2px;
}
.left {
  background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 300px;
  height: 500px;
  display:inline-block;
  float:left;
  margin-right: 100px;
}

.left h2 {
  text-align: center;
  font-size: 70px;
  font-family: 'Roboto Mono', monospace;
background-color:rgba(255,255,255,0);
margin-top: 20px;
margin-bottom: 20px;
}
.score {
  height:170px;
  color:#5BA512;
  font-size: 200px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  margin-top: 10px;
  background-color:rgba(255,255,255,0);
  position:relative;
  bottom:60px;
}
header .reset {
height: 100px;
width:170px;
background-color: white;
text-align: center;
border-radius: 10px;
font-size: 30px;
padding: 10px;
padding-top:10px;
cursor:pointer;
margin-left: 300px;
display:inline-block;
margin-top: 20px;
font-family: 'Pacifico', cursive;
line-height: 35px;
color:black;
border: solid rgba(0, 0, 0, 0.7) 2px;
}

.time {
background: linear-gradient(to left, #70e1f5 , #ffd194);
height: 350px;
width: 300px;
margin: 0 auto;
margin-bottom: 20px;
border: solid rgba(0, 0, 0, 0.7) 2px;
margin-top: 10px;
border-radius: 20px;
}

.time h2 {
margin-bottom:0;

}

.displayTime {
font-size: 100px;
text-align:center;
margin: 0 auto;
margin-top: 0;
background-color:rgba(255,255,255,0);
margin-bottom: 20px;
position: relative;
bottom:20px;
}

header .Instructions {
  height: 100px;
  width:170px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
  padding: 10px;
  padding-top:20px;
  cursor:pointer;
  float:right;
  margin-right: 200px;
  display: inline-block;
  font-family: 'Pacifico', cursive;
  margin-top:17px;
  line-height: 30px;
  border: solid rgba(0, 0, 0, 0.7) 2px;
}

.how{
width: 300px;
height: 250px;
font-family: 'Acme', sans-serif;
color:rgba(124, 227, 233, 1);
text-transform: uppercase;
display:none;
font-size: 25px;
margin: 0 auto;
cursor:pointer;
z-index: 9999;
background-image: url('100.gif');
background-size: contain;
margin-right:250px;
border: solid rgba(0, 0, 0, 0.7) 2px;
}

.footer {
font-size: 30px;
float:right;
margin-top:10px;
margin-bottom: 5px;
color:rgba(255,255,255,1);
 font-family: 'Pacifico', cursive;
 margin-right:15px;
 background-color:rgba(255,255,255,0)
}

#selector {
     position: relative;
     width: 50px;
     font-size: 20px;
     padding: 0;
     margin: 0 auto;
     background-color: rgba(255,255,255,0);
     outline: none;
     cursor: pointer;
     font-weight: bold;
     margin-left: 70px;
     background-color: rgba(0,100,0,.3);
     margin-top: 20px;
     font-family: 'Satisfy', cursive;
     margin-bottom: 10px;
  bottom: 15px;
  right:55px;
}
form {
  margin-top:10px;
  background-color: rgba(255,255,255,0);
}
#difficultySelector {
font-size: 20px;
background-color: rgba(0,100,0,.3);
font-family: 'Satisfy', cursive;
bottom:15px;
right:50px;
position: relative;
}

.choose {
background-color: inherit;
margin-bottom: 0;
font-size: 20px;
margin-left: 5px;
font-family: 'Satisfy', cursive;

}
.highScore {
  border: solid black 1px;
height:200px;
width:230px;
background: linear-gradient(to left, #2BC0E4 , #EAECC6);

display: inline-block;
float:right;
margin-top: 20px;
margin-right: 40px;
line-height: 20px;
font-family: 'Pacifico', cursive;
text-align: center;

}

li{
margin: 10px 10px;
border: dashed rgba(27,163,157,.7) 2px;
font-size: 20px;
font-family: 'Pacifico', cursive;
}
